.grid-even-columns {
    grid-template-columns: repeat(auto-fit, minmax(min(15rem, 100%), 1fr));
}

.interactive-hover:hover {
    transition: all 300ms;
    transform: translateY(-2px);
    transition-timing-function: cubic-bezier(0.6, 0, 0.2, 1);
}


.loading {
    position: relative;
    height: 5px;
    width: 7rem;
    background-color: rgb(169, 169, 169);
    border-radius: 1em;
    overflow: hidden;
}

.loading::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 50%;
    height: 100%;
    background-color: rgba(230, 230, 230, 0.891);
    animation: loading-animation 1s infinite;

}


@keyframes loading-animation {
    0% {
        left: -50%;
    }


    100% {
        left: 150%;
    }
}