.product-listing {
    padding: 2rem;
    cursor: pointer;
    transition: all 0.3s;
}


.product-listing__image {
    width: clamp(0%, 100%, 15rem) !important;
}

.product-listing__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.product-listing__content > * {
    width: 100%;
}

.product-listing__data {
    align-items: center;
}

@media (min-width: calc(834px)) {
    .product-listing__content {
        flex-wrap: nowrap;
        justify-content: flex-start;
        text-align: left;
    }

    .product-listing__content > * {
        width: 50%;
    }

    .product-listing__data {
        align-items: flex-start;
    }
}
